#footerDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(15, 18, 24);
    padding: 30px;
    align-self: flex-end;
    width: 100%;
}
#footer:hover {
  cursor: pointer;
}

.jf-linkdiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 50px;
}
.jf-33 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(78, 142, 218);
    text-decoration: none;
}
body {
  background-color: rgb(19, 21, 31);
}

#navbar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  /* margin-left: 100px; */
  border-bottom: solid 1px rgba(128, 128, 128, 0.418);
  position: sticky;
  top:0;
}

.navbtn {
 margin-left: 5px;
 margin-bottom: 8px;
 border: none;
 background: transparent;
 color: rgb(218, 218, 218);
 font-size: small;
}

.navbtn:hover {
  background-color: rgba(128, 128, 128, 0.178);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.icon {
  padding-right: 4px;
  max-width: 25px;
  
}
#profile{
  margin-left: 20px;
  color: white;
  margin-right: 20px;
  height: 100%;
  width: 300px;
  left: 202px;
  top: 21px;
  border-radius: 0px;
}
#organizations{
  margin-bottom: 10px;
}
#sponsors{
  display: flex;
  flex-wrap: wrap;
  width: 200px;

}
.sponsor-img{
  border-radius: 50%;
  margin-left: 5px;
}
.circle{
  border-radius: 50%;
}
#page{
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}
#middle{
  width: 100%;
}
