#footerDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 18, 24);
    padding: 30px;
    align-self: flex-end;
    width: 100%;
}

#footer:hover {
  cursor: pointer;
}

.jf-linkdiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 50px;
}

.gh-icon{
  padding: 0px;
  width: 40px;
  text-decoration: none;
  align-self: center;
}
.jf-33 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(78, 142, 218);
    text-decoration: none;
}
body {
  background-color: rgb(19, 21, 31);
}

#navbar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  /* margin-left: 100px; */
  border-bottom: solid 1px rgba(128, 128, 128, 0.418);
  position: sticky;
  top:0;
}

.navbtn {
 margin-left: 5px;
 margin-bottom: 8px;
 border: none;
 background: transparent;
 color: rgb(218, 218, 218);
 font-size: small;
}

.navbtn:hover {
  background-color: rgba(128, 128, 128, 0.178);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.icon {
  padding-right: 4px;
  max-width: 25px;
}
  
#profile{
  margin-left: 20px;
  color: white;
  margin-right: 20px;
  height: 100%;
  width: 300px;
  left: 202px;
  top: 21px;
  border-radius: 0px;
}

#organizations{
  margin-bottom: 10px;
}

#sponsors{
  display: flex;
  flex-wrap: wrap;
  width: 200px;

}

.sponsor-img{
  border-radius: 50%;
  margin-left: 5px;
}

.circle{
  border-radius: 50%;
}

#page{
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

#middle{
  width: 100%;
}

.card {
  background-color: rgb(19, 21, 31);
  color: white;
  border:rgb(218, 218, 218);
}

/* CSS for Discussion Page */
.formBtns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.searchInput {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80%;
}
#inputBar {
border-radius: 8px;
width: 100%;
border-color: rgb(111, 116, 121);
background-color: rgb(2, 4, 9);
}
.created{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 10px;
  font-size: 22px;
  color: rgb(244, 244, 244);
  background-color: rgb(0, 102, 255);
}
.commented{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  font-size: 22px;
  color: rgb(244, 244, 244);
  background-color: rgb(0, 102, 255);
}

.container4two {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: solid rgb(48, 54, 61) 1px;
  padding: 15px;
  justify-content: space-between;
  
}

.discussTitle {
  width: 100%;
}

.mainDiscussLinks {
  padding: 10px;
  margin-right: 100px;
}
.iconPosition {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* CSS for Dimitric */
.repoCard-desc {
  flex: 1 0 auto;
  display: block !important;
  font-size: var(--h6-size, 12px) !important;
  margin-bottom: var(--base-size-16, 16px) !important;
  margin-top: var(--base-size-8, 8px) !important;
  box-sizing: border-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: gainsboro;
}
.repoCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
.repo-lang-color {
  background-color: #f1e05a;
  position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
    box-sizing: border-box;
}
.lang {
    font-size: var(--h6-size, 12px) !important;
    color: gainsboro;
}
.div-il {
  display: flex !important;
  margin-bottom: var(--base-size-16, 16px) !important;
  width: 49.99999998%;
  box-sizing: border-box;
}
.repoCard-box {
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-default);
  border-radius: var(--primer-borderRadius-medium, 6px);
  border-style: solid;
  border-width: var(--primer-borderWidth-thin, 1px);
  display: flex !important;
  padding: var(--base-size-16, 16px) !important;
  width: 100% !important;
  box-sizing: border-box;
}
.pinned-repos {
  display: flex !important;
  flex-wrap: wrap;
  margin-bottom: var(--base-size-24, 24px);
  margin-right: -8px;
  margin-left: -8px;
  padding-left: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.create-pinned-repo {
  color: gainsboro;
}

.repoCard-statusBar {
  display: flex;
  gap: 15px
}

.pinned-title {
  color: gainsboro;
 }
 
.form-control {
  width: 1000px;
}

.form-label {

  color: white;
}


.search {
  display: flex;
  margin-bottom: 30px; 
  align-content: center;
  padding-top: 50px;
  
  
}

.searchbar {
  background-color: transparent;
  border-radius: 5px;
  width: 500px;
  color: white;
  border: solid gray 1px;
  
}

.btn-success {
  margin-left: 10px;
  font-weight: 500;
}

.card-body {
  
  border: solid rgb(255, 255, 255) 1px;
}


.card-text {
  color: #777;
}
